<!-- Header start -->
<header class="header">
  <a href="#" class="logo">Lập Trình Giao Diện Web</a>
  <div class="user-info">
    <img class="user-avatar" src="https://avatars.githubusercontent.com/u/113796420?v=4" alt="Nguyễn Tuấn Kiệt" />
    <h1 class="user-name"><a href="https://github.com/TanNhatCMS">Nguyễn Tuấn Kiệt</a></h1>
  </div>
</header>
<!-- Header end -->
<!-- Main start-->
<main class="container">
<app-nav></app-nav>
    <section class="col-md-12 bg-light section-title ">
      <router-outlet></router-outlet>
    </section>
</main>
<!-- Main end-->
<!-- Footer start-->
<footer>
  <div class="copyright">
    &copy; {{ namht }} <a href="https://github.com/TanNhatCMS/Angular-Lab5"> Nguyễn Tuấn Kiệt-CL23CT1</a>
  </div>
</footer>
<!-- Footer end-->
